@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  /* font-size: 62.5%; */
  /* background-color: #fff; */
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
  color: black !important;
}
body {
  position: relative;
  background: #ebad70;
  background: -webkit-linear-gradient(to top, #e4bebe, #ece9e6);
  background: linear-gradient(to top, #afd8cc50, #ece9e6);
}
.logo {
  position: fixed;
  bottom: 0;
  right: 10px;
  background: url('https://i.imgur.com/OKAY6Fl.png');
  height: 50px;
  width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10000;
  cursor: pointer;
}
.mainProductdetail {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#clothing_section_bg {
  min-height: 100vh;
  text-decoration: none;
  /* background-color: #b2d3b62c; */
}

.Pprice {
  color: #926f22e0;
  font-size: large;
  letter-spacing: 1px;
  font-weight: 600;
}
.btn-dark {
  background-color: #926f22e0;
  color: white;
  border: none;
}
.divSetter {
  transition: all 0.3s linear;
}
.divSetter:hover {
  -webkit-box-shadow: 1px 3px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 3px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 3px 8px 0px rgba(50, 50, 50, 0.75);
}
.sectionTitle {
  color: #926f22e0;
  font-weight: 700;
  font-size: 2.5rem;
  text-shadow: 7px 7px 19px rgba(150, 150, 150, 1);
}
.figcard {
  overflow: hidden;
}
.card-img-top {
  transition: all 0.3s linear;
}
figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.sectionTitle::after {
  content: '';
  height: 2px;
  width: 5px;
  background-color: black;
}
footer {
  height: auto;
}
/* ============ */
#containerP {
  display: grid;
  place-items: center;
}
#productDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cardImg {
  width: 70px !important;
  border-radius: 5px;
  padding: 2.5px;
  transition: all 0.1s;
  margin-right: 8px !important;
}
.cardImg:hover {
  border: 1.8px solid #926f22e0;
  width: 90px;
}
